.container{
}

.header{
    text-align: center;
    opacity:1;
}

.img {  
    text-align: center;
}

.form {
    text-align: center

}
.result{
    text-align:center;
    margin-bottom:30px

}
.result p{
    border-radius:10px;
    margin:0px 650px;
    padding:10px 0px;
    background:rgba(185, 252, 252, 0.783)
}

.btn{
    padding:7px 10px;
    background-color: lightblue;
    border-color: black;
    border-radius:5px;
}